body {
  font-family: "Montserrat",sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0;
  background: #F5F7FA
}

.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(blue, lightblue);
  height: 75px;
  padding: 20px;
  color: white;
}


.App-title {
  font-size: 1.5em;
}

/*.App-intro {*/
  /*font-size: large;*/
/*}*/

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.left-image{
  position: absolute;
  top: -20px;
  left: -35px;
}

.right-image{
  position: absolute;
  top: -20px;
  right: -34px;
}


/* header style */

header {
  overflow: hidden;
  background-color: dodgerblue;
  padding: 20px 10px;
  margin-bottom: 30px;
  box-shadow: 
    0px 0px 7px -1px #000, 
    inset 0 0px 3px -5px #000;
  /*box-shadow: 0px 0px 10px rgba(0,0,0,.6);
  box-shadow: inset 0px 0px 25px -10px rgba(0,0,0,.6);*/
}

header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}


header div.logo {
  font-size: 25px;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0;
}

header div.logo:hover {
  color: #cecece;
}


header div.about {
  font-size: 20px;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 40px;
}

header div.about:hover{
  color: #cecece;
}


header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

/* button close street view */

.myButton {
	-moz-box-shadow:inset 0px 34px 0px -15px #3b7fb3;
	-webkit-box-shadow:inset 0px 34px 0px -15px #3b7fb3;
	box-shadow:inset 0px 34px 0px -15px #3b7fb3;
	background-color:#3778a6;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:4px 18px;
	text-decoration:none;
  text-shadow:0px -1px 0px #1f5980;
  border-radius: 4px;
}
.myButton:hover {
	background-color:#3a719c;
}
.myButton:active {
	position:relative;
	top:1px;
}


/* close button code */

.list-title {
  font-family: "Montserrat",sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
  margin-bottom: 5px;
  text-align: center
  
}

.search-div {
  margin-bottom: 20px;
}

a:link, h4, p{
  text-decoration: none;
  color: #333131;

}

button {
  padding: 0;
  border: none;
  background: none;
}


.addRestDiv {
  width: '50vw';
  height: '18,5vh';
  background-color: '#fff';
  margin-left: 108
}

input {
  margin-left: 10px
}

.list-add-rest{
  margin: 8px;
  padding: 5px;
  width: 400px;
}

.list-add-rest-rating{
  margin: 8px;
  padding: 5px;
  width: 70px;
}

.list-add-comment{
  margin: 8px;
  padding: 5px;
  width: 400px;
}

.list-group {
  text-align: center
}

.message-filtering {
  margin-bottom: 30px;
}

.review-added{
  font-size: 18px
}

.presentation {
  font-size: 20px;
  margin-top: 30px;
}

.social-media {
  height: 80px;
  width: 80px;
}

.add-buttons{
  align-content: left;
}